<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Heading}}</title>
</head>

<body>
    <header>
        <h1>{{.Heading}} Page</h1>
    </header>
    <p>
        Message: {{.Message}}
    </p>
    {{if .ShowAPIRedirect}}
        <a href="/api_calls">Interact with APIs</a>
    {{end}}
    {{if .ShowHomeRedirect}}
        <a href="/">return to Home</a>
    {{end}}
</body>

</html>